.Rproj.user
.Rhistory
.RData
.Ruserdata
data_inputs/DIET/dietary_intake/DATA/clean_data/foods_day1_clean.rds
data_inputs/DIET/dietary_intake/DATA/clean_data/foods_day2_clean.rds
data_inputs/DIET/dietary_intake/DATA/clean_data/meat_day1.sas7bdat
data_inputs/DIET/dietary_intake/DATA/clean_data/meat_day2.sas7bdat
data_inputs/DIET/dietary_intake/RESOURCES/
data_inputs/DIET/dietary_intake/DATA/clean_data/foods_day1_clean.rds
data_inputs/DIET/dietary_intake/DATA/clean_data/foods_day2_clean.rds
data_inputs/DIET/dietary_intake/DATA/clean_data/meat_day1.sas7bdat
data_inputs/DIET/dietary_intake/DATA/clean_data/meat_day2.sas7bdat
data_inputs/ECONOMIC/fah_fafh_ratio/DATA/raw_data/faps_fafhnutrient_PUF.dta
data_inputs/ECONOMIC/fah_fafh_ratio/DATA/raw_data/faps_fahnutrients_bmb.dta
data_inputs/ECONOMIC/fah_fafh_ratio/DATA/raw_data/faps_fahnutrients.dta
data_inputs/ENVIRONMENT/land_use/
data_inputs/IMPACT_FACTORS/output_data/archive/
outputs/model/
